@font-face {
  font-family: 'Kanit';
  src: local('Kanit'), url('../public/fonts/Kanit/Kanit-Light.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Kanit', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 1px;
  font-weight: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
