@import './vars.scss';

aside {
  max-height: 100vh;
  overflow: hidden;
  border-right: 1px solid $div;

  @media (min-width: 925px) {
    min-width: 400px;
  }

  @media (max-width: 925px) {
    max-width: 400px;
  }

  @media (max-width: 768px) {
    max-width: unset;
    width: 100%;
  }


}
