@import './vars.scss';

aside{
    width: 40%;
    max-height: 100vh;
    overflow: hidden;
    border-right: 1px solid $div;
    flex-grow: 1;
    // max-width: 500px;

    // @media (max-width: 1140px) {
    //     width: 50%;
    // }


}
