@import './vars.scss';

::-webkit-scrollbar {
  width: 0px;
}

.contacts-block {
  &__title {
    margin-top: 45px;
    margin-bottom: 75px;
    color: $altTitle;
    font-size: $h2;
  }

  & ul {
    overflow: auto;
    max-height: calc(100vh - 35vh);
  }

  & .empty {
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
