@import './vars.scss';

.contacts-block {


  &__title {
    margin-top: 45px;
    margin-bottom: 75px;
    color: $altTitle;
    font-size: $h2;
  }

  & ul {
    overflow: auto;
    //TEMP SOLUTION
    max-height: calc(100vh - 35vh);
    scroll-behavior: smooth;
  }

  & .empty{
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




