//colors
$positive: #4aa272;
$white: #fff;
$non-active: #E2E1DB;
$div: #f5f5f5;
$black: #000;
$link: #a5bae6;
$hoveredLink: #608ae4;
$altTitle: #65a3ca;
$greyText: #686868;
$sendedMsg: #e0e0e0;
$recievedMsg: #3c4154;

//font-size
$h2: 24px;
$regular: 16px;
$mid: 18px;
$label: 13px;
$floated-label: 11px;

